@use "../../layouts";
@use "../../basic-layout";
@use "../../colors";
@use "../../tipography";
@use "../../header";
@use "../../footer";
@use "../../hero";

body {
  background-color: #f5f3f3;
}






:root {
  // --bg: hsl(0, 0%, 98%);
  --bg-offset: hsl(0, 0%, 100%);
 --text: hsl(200, 15%, 8%);
  // --gray: hsl(0, 0%, 52%);
  --border: rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;

  .search-wrapper {


    #search-form {
      font-family: var(--font-family-display-regular);
      font-size: var(--font-size-span);
    }
  }
}
.wrapper-inner {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* search input */

.search-wrapper {
  margin: 0 0 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap:20px;
}

.search-form {
  display: none;
}

.search-input {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
  background-color: var(--bg-offset);
  background-size: 16px 16px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  padding: 1.4em 2em;
  padding-left: 2.7em;
  border: 1px solid var(--border);
  color: var(--gray);
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.search-input:hover {
  box-shadow: 0px 0px 0px var(--border);
}
/* select from moderncss.dev */
select {
  appearance: none !important;
  outline: none;
  background-color: var(--bg-offset);
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  padding: 1.4em 2em 1.4em 1em;
  margin: 0;
  margin-right: 1em;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: black;

  option{
  border-bottom: gray;
  }
}
.select {
  // width: 100%;
  font-family: var(--font-family-display-regular);
  font-size: var(--font-size-span);
  min-width: 15ch;
  max-width: 30ch;
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);


}
.select:hover {
  box-shadow: 0px 0px 0px var(--border);
}

.select::after {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  margin-right: 1em;
}
select,
.select:after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--text);
  border-radius: inherit;
}

button {
  display: block;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  padding: 12px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: #00bb00;
  border: 1px solid #00aa00;
  color: #fff;
  cursor: pointer;
}

//css pagination

.pagination-container {
  padding-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;

  .pagination-item-container {
    border-bottom: gray solid 2px;
    border-top: gray solid 2px;
    padding: 10px;
  }

  .pagination-item {
    font-family: var(--font-family-display-regular);
    font-size: var(--font-size-linksonfooter);

    padding: 0 11px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      border: solid gray 2px;
    }

    &.disabled {
      pointer-events: none;
      color: lightgray;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .nextButton_container,
  .backButton_container {
    display: flex;
    justify-content: center;
    border: gray solid 2px;
  }
}

@media all and (min-width: 768px) {
  .pagination-container {
    padding-top: 2.5em;
  }
  .search-wrapper {
    margin:  48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    gap:20px;
  }

}




main {
  .hero-container-pc {
    // position: relative;
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // height: 260px;
    // margin-bottom: 1.5rem;
    & > img {
      width: 100%;
    }
    & > picture {
      width: 100%;
      height: inherit;
      z-index: -1;
      source {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }

    .hero-wrapper {
      position: absolute;

      .hero-text {
        // display: none;
        text-align: center;
        font-family: var(--font-family-display-bold);
        font-size: var(--font-size-cards-title);
        color: azure;
      }
    }
  }

  .main-wrap {
    .content-wrap {
      display: flex;

      .filter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 200px;
        padding: 20px;
        gap: 30px;
        font-family: var(--font-family-display-regular);
        font-size: var(--font-size-linksonfooter);

      }

      .title-game {
        padding: 30px;
      }

      .ea-play-box{
        margin-top: 5em;
      }
    }
  }

  // div games//

  .content-wrap {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0;
    row-gap: 1rem;
    padding: 10px;
  }

  .game-box {
    .enormous-logo {
      max-height: 5%;
    }
    .game-image-default {
      height: 100%;
      width: 100%;
    }
    .image_overlay {
      .span_games {
        position: relative;
        opacity: 0;
        transition: 0.4s;
        transform: translateY(0px);
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    .image_overlay:hover .span_games {
      z-index: 1;
      display: unset;
      transition: 0.4s;
      opacity: 1;
    }
    .image_overlay:hover .second {
      transform: translateY(20px);
      transition: 0.4s;
      opacity: 1;
    }
    .image_overlay:hover .third {
      transform: translateY(40px);
      transition: 0.4s;
      opacity: 1;
    }
    .image_overlay::before {
      background: rgba(13, 16, 66, 0.9);
    }

    &:hover .image_overlay {
      .logo {
        transform: translateY(-90px);
      }
    }
  }

  //text+h2//

  h2 {
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-cards-title);
    padding: 5px;
    text-align: center;
  }

  .text-p {
    display: block;
    text-align: center;
    line-height: 1.7rem;
    width: 100%;
    font-family: var(--font-family-text-regular);
    font-size: var(--font-size-span);
    a {
      color: rgb(255, 0, 0);
    }
  }

  //arrows for scrollbar

  .navTab .navTabArticles {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .main-content-wrap {
    .buttons {
      color: rgba(56, 44, 229, 0.9);
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      .left-btn {
        display: none;
      }
    }
  }

  @media all and (min-width: 900px) {
    .main-wrap {
      .main-content-wrap {
        .buttons i {
          display: none;
        }
      }
    }
  }

  //second div games//

  .main-wrap {
    .content-details-first {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 111px;
      .details {
        display: flex;
        justify-content: center;
        border: 2px solid #161616;
        line-height: 27px;
        border-radius: 3px;
        color: #000000;
        font-size: var(--font-size-span);
        p {
          position: relative;
          margin: 0 6px;
          font-family: var(--font-family-display-regular);
          width: 110px;
        }
        .material-icons {
          position: absolute;
          top: 0;
          bottom: 0;
          right: -14%;
        }
        @extend %start-scale-padding;
        &:hover {
          @extend %scale-padding;
        }
      }
    }
  }

  h3 {
    @extend %flexcenter;
    font-family: var(--font-family-display-bold);
    font-size: var(--font-size-section-title);
    text-align: center;
  }

  // links(3)

  .block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    text-align: center;
    .span_games {
      color: #a3a3a3;
    }

    :hover {
      color: white;
    }
    a {
      height: 30px;
    }
  }

  a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  //select button

  .navbar {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    display: none;

    button {
      font-family: var(--font-family-display-regular);
      font-size: var(--font-size-span);
      letter-spacing: 0.4px;
      border: transparent;
      background-color: transparent;
      cursor: pointer;

      .page-button {
        @extend %flexcenter;
        border-radius: 50%;
        margin: 7px;
        height: 40px;
        width: 40px;
        &:hover {
          border: 2px solid lightgray;
        }
      }

      .back-button,
      .next-button {
        @extend %flexcenter;

        // padding: 15px 20px;
        border: 2px solid;
        height: 58px;
        width: 110px;
        border: 2px solid gray;
        &:hover {
          border: 2px solid gray;
        }
      }

      .back-button {
        border-radius: 3px 0 0 3px;
        &:hover {
          color: gray;
        }
      }

      .next-button {
        border-radius: 0 3px 3px 0;
        &:hover {
          color: gray;
        }
      }
    }

    .page-collector {
      border-bottom: 2px solid gray;
      border-top: 2px solid gray;
      & .selectPage.active {
        .page-button {
          border: 2px solid gray;
        }
      }
    }
  }

  .selectOption {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    #back,
    #next,
    #select {
      height: 50px;
      font-family: var(--font-family-display-regular);
      font-size: var(--font-size-span);
      letter-spacing: 0.4px;
      color: gray;
      background-color: transparent;
    }
    #back,
    #next {
      border: 2px solid gray;
      width: 25vw;
      cursor: pointer;
    }
    #next {
      border: 2px solid gray;
      width: 30vw;
    }
    #select {
      width: 65%;
      text-align: center;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
      border-left: none;
      border-right: none;
      // appearance:none;
    }
  }
}

@media all and (min-width: 768px) {
  .selectOption {
    display: none;
  }
  .navbar {
    display: flex;
  }
}

// div playpro //

.content-wrap {
  .pogo-box {

  }


  .box-card {

    position: relative;

    picture {
      width: 100%;
      source {
        width: 100%;
      }
      img {
        width: 100%;
      }
      .pogo-image {
        height: 45rem;
      }
    }
    .image-card {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.text-card {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 32px 24px;
  .logo-play {
    max-width: 95%;
    padding-bottom: 2rem;
  }
  p {
    font-family: var(--font-family-text-regular);
    // font-size:0.95rem;
    font-size: var(--font-size-span);
    color: aliceblue;
    text-align: center;
    line-height: 1.7rem;
    max-width: 90%;
  }

  .content-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    .details {
      background-color: #de3636;
      display: flex;
      justify-content: center;
      line-height: 27px;
      border-radius: 3px;
      color: #ffffff;
      font-size: var(--font-size-span);
      p {
        margin: 0 6px;
        font-family: var(--font-family-display-regular);
      }
      @extend %start-scale-padding;
      &:hover {
        @extend %scale-padding;
      }
    }
  }
}

//  div pogo  //

.text-card-pogo {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 32px 24px;

  .logo-play {
    max-width: 95%;
    padding-bottom: 2rem;
  }
  p {
    font-family: var(--font-family-text-regular);
    font-size: var(--font-size-span);
    color: aliceblue;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
    max-width: 90%;
  }

  .main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-details {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      .details {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        line-height: 27px;
        border-radius: 3px;
        font-size: var(--font-size-span);
        p {
          color: #161616;
          margin: 0 6px;
          font-family: var(--font-family-display-regular);
          width: 150px;
        }
        @extend %start-scale-padding;
        &:hover {
          @extend %scale-padding;
        }
      }
    }
  }
}

//mq//

@media all and (min-width: 500px) {
  .hero-container-pc {
    height: 400px;
  }
}

@media all and (min-width: 768px) {
  .hero-container-pc {
    height: 250px;
  }
  .content-wrap {

    justify-content: center;
    align-items: center;
    .pogo-box {
      picture {
        .pogo-image {
          height: unset;
        }
      }
    }
    width: 82vw;
    .grid-games {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.55rem;
    }
  }
  .wrap_button_games {
    .temporary-button_games {
      width: 400px;
    }
  }

  .text-card {
    padding: 32px 120px;
    .wrap_button_games {
      width: 140px;
    }
  }

  .text-card-pogo {
    justify-content: center;
    padding: 32px 120px;
    .main-wrap {
      display: flex;
      flex-direction: row;
    }
  }
}

@media all and (min-width: 1024px) {
  .hero-container-pc {
    height: 270px;
  }
  .content-wrap {
    width: 85vw;
    .grid-games {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.75rem;
    }
  }
}

@media all and (min-width: 1456px) {



  .hero-container-pc {
    height: 330px;

    .hero-wrapper {

      top: 10%;
      left: 44%;

      .hero-text{
         display:unset;

      }
    }
  }
  .content-wrap {
    width: 75vw;

    .box-card {
      .text-card {
        .main-wrap {
          .main-content-wrap {
            .content-details {
              width: 200px;
            }
          }
        }
      }

      .text-card-pogo {
        .main-wrap {
          .main-content-wrap {
            .content-details {
              width: 220px;
            }
          }
        }
      }
    }
  }
}

